<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiho.scaffold.system.mapper.ElevatorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.weiho.scaffold.system.entity.Elevator">
        <id column="id" property="id"/>
        <id column="building_id" property="buildingId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
        <result column="identity_id" property="identityId"/>
        <result column="number_of_people" property="numberOfPeople"/>
        <result column="number_of_weight" property="numberOfWeight"/>
        <result column="is_computer_room" property="isComputerRoom"/>
        <result column="hoistway_size" property="hoistwaySize"/>
        <result column="depth_of_foundation_pit" property="depthOfFoundationPit"/>
        <result column="reserved_size_of_door_opening" property="reservedSizeOfDoorOpening"/>
        <result column="lifting_height" property="liftingHeight"/>
        <result column="last_maintain_time" property="lastMaintainTime"/>
        <result column="next_maintain_time" property="nextMaintainTime"/>
        <result column="day" property="day"/>
        <result column="maintain_people" property="maintainPeople"/>
        <result column="maintain_people_phone" property="maintainPeoplePhone"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        is_del,
        id, building_id, identity_id, number_of_people, number_of_weight, is_computer_room,
            hoistway_size, depth_of_foundation_pit, reserved_size_of_door_opening, lifting_height,
            last_maintain_time, next_maintain_time, day, maintain_people, maintain_people_phone, enabled
    </sql>

</mapper>
