<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiho.scaffold.tools.storage.mapper.LocalStorageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.weiho.scaffold.tools.storage.entity.LocalStorage">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="file_name" property="fileName"/>
        <result column="real_name" property="realName"/>
        <result column="type" property="type"/>
        <result column="size" property="size"/>
        <result column="suffix" property="suffix"/>
        <result column="server_url" property="serverUrl"/>
        <result column="local_url" property="localUrl"/>
        <result column="md5_code" property="md5Code"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, file_name, real_name, type, size, suffix, server_url, local_url, md5_code, create_time
    </sql>

</mapper>
